<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Person List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons | async">
                    <td>{{person.personId}}</td>
                    <td>{{person.personName}}</td>
                    <td>{{person.personAddress}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deletePerson(person.personId)">Delete</button> &nbsp;
                        <button type="button" class="btn btn-info" style="margin-left: 10px" (click)="updatePerson(person.personId)">Update</button> &nbsp;
                        <button type="button" class="btn btn-info" style="margin-left: 10px" (click)="detailsPerson(person.personId)">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
