<h3>Create Person</h3>
<div [hidden]="formSubmitted" style="width: 400px;">
    <form [formGroup]="personForm" (ngSubmit)="submitPerson()">
        <div class="form-group">
            <label for="personId">Person ID</label>
            <input readonly type="text" class="form-control" formControlName="personId" name="personId" placeholder="Person ID">
        </div>

        <div class="form-group">
            <label for="personName">Person Name</label>
            <input type="text" class="form-control" formControlName="personName" name="personName" placeholder="Person Name">
        </div>

        <div class="form-group">
            <label for="personAddress">Person Address</label>
            <input type="text" class="form-control" formControlName="personAddress" name="personAddress" placeholder="Person Address">
        </div>
        <button type="submit" class="btn btn-success">Submit</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
    </form>
</div>

<div [hidden]="!formSubmitted">
    <h4>{{message}}</h4>
</div>
